services:
  db:
    image: mysql:8.3.0
    container_name: mysql_estapar
    command: --default-authentication-plugin=caching_sha2_password

    restart: always

    environment:
      TZ: America/Sao_Paulo
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_TCP_PORT: ${DB_PORT}

    ports:
      - "${DB_EXPOSE_PORT}:${DB_PORT}"

    networks:
      - estapar_teste_tecnico_network

    volumes:
      - mysql_data:/var/lib/mysql

    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-p${DB_PASSWORD}" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s



networks:
  estapar_teste_tecnico_network:
    driver: bridge

volumes:
  mysql_data:
