server:
  port: 3003

spring:
  datasource:
    url: jdbc:mysql://localhost:3307/garage?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=America/Sao_Paulo
    username: root
    password: 123456

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

flyway:
  enabled: false
